<%= @player1.name %> vs. <%= @player2.name %>
<br>
<%= @player1.name %>: <%= @player1.points %> HP
<div>
  <%= @player2.name %>: <%= @player2.points %> HP
  <form action="/attack">
    <input type="submit" value="Attack <%= @player2.name %>">
  </form>
</div>
